.inicio{
    background-color: black;
    position: relative;
    width: 100%;
    display: flex;
    height: 650px;
}

.presentacion{
display: flex;
position: absolute;
width: 55%;
margin-left: 10%;
top: 15%;
height: 55%;
}

.img{
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
}

.fotito{
  width: 105%;
}

.h1{
    position: relative;
    display: flex;
    font-size: 200%;
    width: 60%;
    color: yellow;
    margin: 0;
    text-align: left;
    padding-left: 5%;
    padding-top: 6%;
}

.h4{
position: absolute;
top: 65%;
width: 100%;
right:6%;
text-align: left;
font-size: 110%;
color: white;
display: flex;
opacity: 0;
transition: all 3s;
}



@keyframes typing {
    from { width: 10; }
    to { width: 81ch; }
}

@keyframes cursor {
    50% { border-color: transparent; }
}

.icono{
position: absolute;
width: 25%;
height: 70%;
right: 7%;
top: 15%;
}

.animacion{
display: flex;
}

.js{
    color: yellow;
    border: 0ch;
    width: 200%;
    height: 200px;
}


.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 400px;
  }
  
  /* Animation */
  .parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
  }
  .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
  }

  .olas{
    position: absolute;
    width: 100%;
    bottom: 0;
  }

.btn{
  position: absolute;
  right: 15%;
  top: 60%;
}

.boton{
  display: flex;
  background-color: #e71d3544;
  font-weight: bold;
  font-size: 120%;
  color: black;
  width: 120%;
  height: 100%;
  border-radius: 50px;
  cursor: pointer;
  transition: 1s ;
  padding: 10%;
}

.boton:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

.boton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-4px);
  background-color: #E71D36;
  color: white;
  border-radius: 50px;
  transition: 1s;
  
}

.boton:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.aparece{
  opacity: 1;
  transition: 3s;
  transform: translateY(20px);
}

