
.frente{
    border-radius:30px;
    background-color: rgb(146, 144, 144);
    position: relative;
    width: 20%;
    height: 350px;
    margin-left: 150px;
    margin-top: 30px;
}

.frente:hover {
    box-shadow: rgba(0, 0, 0, 0.651) 0 15px 15px;
    transform: translateY(-10px);
    background-color: white;
    color: black;
    border-radius: 50px;
}




.cartel{
    background-color: #063455;
    border-radius: 30px;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
}

.nombre{
    background-color:#063455;
    color: white;
    font-weight: 600;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 10px;
    border-radius: 30px;
}

.precio{
    background-color: #063455;
    font-weight: 600;
    color: white;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 100;
    padding-left: 10px;
    margin-bottom: 2px;
}

.boton{
    background-color:white;
    color:#063455;
    font-weight: 500;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    width: 80%;
    border-radius: 30px;
    padding: 1%;
    margin: auto;
    cursor: pointer;
}

.img{
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 70%;
    
}


.boton:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

.boton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
    background-color: white;
    color: #EB274B;
    border-radius: 50px;
  }

  .boton:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
  }