.Skills{
    position: relative;
    width: 100%;
    display: flex-box;

}

.titulo{
    position: relative;
    width: 100%;
    top: 50px;
    display: relative;
    height: 120px;
    text-align: left;
    font-size: 130%;
    padding-left: 4%;
    margin-bottom: 0;
    opacity: 0;
}

.titulo :global(*){
    margin: 0;
}

.titulo h4{
    color: grey;
}

.grid{
        width: 70%;
        margin: 0 auto;
        position: relative;
        margin-top: 7%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1%;
        opacity: 0;
        z-index: 999;
        
}

.item{
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    border: solid 5px grey;
    background-color: beige;
    height: 10%;
}

.icono{
    position: relative;
    width: 30%;
    height: 80%;
    padding-left: 10%;
    top: 15%;
}

.font{
    position: flex;
    height: 100%;
}

.tecnologia{
    position: relative;
    font-size: 100%;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: center;
    top:23%;
}

a {
    text-decoration: none;
    color: inherit;
  }

.seq{
    color: aqua;
}

.express{
    height: 80%;
}

.extras{
    background-color: aqua;
    width: 70%;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;

}



.item:hover .tecnologia{
    pointer-events: none;
}

.item:hover .icono{
    pointer-events: none;
}

.item{
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    border: solid 5px grey;
    height: 100%;
    display: flex;
    background-color: beige;;

}

.item:hover{
    background-color: rgba(93, 91, 91, 0.247);
    border: solid;
    cursor: pointer;
    
}


.aparece{
    opacity: 1;
    transition: 3s;
    transform: translateX(50px);
}

.apareceGrid{
    opacity: 1;
    transition: 3s;
    transform: translateY(-50px);
}

.animation1{
position: absolute;
width: 40%;
height: 40%;
top: -2%;
right: 0;
display: flex;
}

.animacion1{
    border: 0ch;
    width: 100%;
    height: 100%;
}

.extra1{
    position: relative;
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}

.extra1Animation{
    position: relative;
    top: 10%;
    width: 40%;
    height: 70%;
    display: flex;
}

.extra1Animacion{
    border: 0ch;
  width: 100%;
  height: 600px;
}

.extra1Texto{
    display: flex-box;
    width: 60%;
    text-align: left;
    align-items: center;
    padding-top: 130px;
    opacity: 0;
}

.extra2{
    position: relative;
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    top: 0;

}

.extra2Animation{
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
}

.extra2Animacion{
  border: 0ch;
  width: 130%;
  height: 400px;
}

.extra2Texto{
    display: flex-box;
    width: 60%;
    text-align: center;
    align-items: center;
    font-size: large;
    text-align: left;
    margin: 0;
    opacity: 0;
    
}

.extra2Texto h1{
    font-size: 250%;
    color: rgb(255, 106, 0);
    margin: 0;
}
.extra2Texto h4{
    margin-top: 0;
    color: black;
    font-size: 130%;
}

.extra1Texto h1{
    font-size: 250%;
    color: rgb(100, 13, 205);
    margin: 0;
}
.extra1Texto h4{
    margin-top: 0;
    color: black;
    font-size: 130%;
}

.apareceTexto1{
    opacity: 1;
    transition: 4s;
    transform: translateX(50px);
}

.apareceTexto2{
    opacity: 1;
    transition: 4s;
    transform: translateX(-50px);
}
