.Proyectos{
    position: relative;
    background-color: #011627;
    height: 100%;
    width: 100%;
}

.container{
    position: absolute;
    width: 90%;
    top: 10%;
    text-align: left;
    margin-left: 3%;
    padding-bottom: 3%
}

.titulo{
    color: #E71D36;
    font-size: 70px;
}