.Proyectos{
    position: relative;
    width: 100%;
    display: flex-box;

}

.titulo{
    position: relative;
    width: 100%;
    top: 30px;
    display: relative;
    height: 120px;
    text-align: left;
    font-size: 130%;
    padding-left: 40px;
    margin-bottom: 0;
    opacity: 0;
}

.titulo :global(*){
    margin: 0;
}

.titulo h4{
    color: grey;
}

.container{
    opacity: 0;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.aparece{
    opacity: 1;
    transition: 2s;
    transform: translateX(50px);
}

/*//////////////////////////////////////////////////////*/



.containerFoto{
    position: relative;
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.containerNombre{
    position: relative;
    width: 100%;
    height: 8%;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: rgb(212, 255, 0);
}


.icono{
    margin-left: 15px;
    width: 30px;
    height: 60px;
}

.containerGit{
    position:relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconoEnlace{
    margin: 30px;
    width: 40px;
    height: 60px;
    cursor: pointer;
}


.iconoEnlace:hover{

    transform: translateY(-6px);
}

/*----------------CSS TARJETA---------------------------------------*/

.Tarjeta{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 350px;
    margin: 30px;
}


.Tarjeta .cara {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    transition: 1.5s;
    background-color: #000;
    border-radius: solid 3px;
    cursor: pointer;
}

.Tarjeta .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.Tarjeta .front .containerFoto {
    position: relative;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.Tarjeta .front .containerNombre{
    margin-top: 20px;
    font-size: small;
}

.Tarjeta .front .containerTecnologias{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
}


.Tarjeta .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(0, 0, 0);
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}


.containerResumen{
    position: relative;
    width: 90%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: white;
    overflow-wrap: break-word;
    margin: 0 auto;
    align-items: center;
    font-size: 62%;
    margin-top: 20px;
}

.containerGit{
    margin-bottom: 20px;
}


.Tarjeta:hover .front {
    transform: perspective(600px) rotateY(160deg);
}

.Tarjeta:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.apareceProy{
    opacity: 1;
    transition: 4s;
    transform: translateY(-50px);
}

.containerResumenPorfolio{
    position: relative;
    width: 90%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: white;
    overflow-wrap: break-word;
    margin: 0 auto;
    align-items: center;
    font-size: 67%;
    margin-top: 50px;
}

.containerResumenSPA{
    position: relative;
    width: 90%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: white;
    overflow-wrap: break-word;
    margin: 0 auto;
    align-items: center;
    font-size: 67%;
    margin-top: 50px;
}

.containerResumenMercadopago{
    position: relative;
    width: 90%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: white;
    overflow-wrap: break-word;
    margin: 0 auto;
    align-items: center;
    font-size: 75%;
    margin-top: 50px;
}