.Proyectos{
    position: relative;
    width: 100%;
    display: flex-box;

}

.titulo{
    position: relative;
    width: 100%;
    top: 90px;
    display: relative;
    height: 120px;
    text-align: left;
    font-size: xx-large;
    padding-left: 40px;
    margin-bottom: 0;
    opacity: 0;
}

.titulo :global(*){
    margin: 0;
}

.titulo h4{
    color: grey;
}

.container{

    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-top: 150px;
    display:flex;
    align-items: center;
}


.proyectos{
    position: relative;
    display: flex;
    width: 100%;
    height: 90%;
    margin-right: 20px;
    margin: 0;
}

.aparece{
    opacity: 1;
    transition: 2s;
    transform: translateX(50px);
  }