.container{
    width: 1920px;
    height: 1300px;
    background-color: #063455;
    margin: 0 auto;
    position: absolute;
    display:flexbox
}

.barra{
    background-color: rgb(105, 102, 105);
    position: relative;
    width: 100%;
    height: 9%;
    text-align: center;
}

.mini{
    background-color: #eeca88;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    width: 90%;
}

.fotos{
    background-color: #eeca88;
    width: 50%;
    height: 700px;
    text-align: center;
    border-radius: 20px;
}

.menu{
    background-color: #eeca88; 
    width: 50%;
    height: 700px;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.descripcion{
    background-color:#eeca88; 
    width: 90%;
    height: 400px;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
}

.titulo{
    border-radius: 20px;
    border: solid black;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 30px;
}

.precio{
    border-radius: 20px;
    border: solid black;
    width: 40%;
    position: absolute;
    left: 30px;
    top: 160px;
    text-align: left;
    padding-left: 20px;
    font-size: x-large;
}

.metodo{
    border-radius: 20px;
    border: solid black;
    width: 40%;
    position: absolute;
    left: 30px;
    top: 280px;
}

.stock{
    border-radius: 20px;
    border: solid black;
    width: 40%;
    position: absolute;
    right: 70px;
    top: 160px;
}

.cantidad{
    border-radius: 20px;
    border: solid black;
    width: 40%;
    position: absolute;
    right: 70px;
    top: 280px;
}

.boton{
    border-radius: 20px;
    border: solid black;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 300px;
    margin-bottom: 20px;
    margin-top: 30px;
}

/*
.boton{
    font-weight: 600;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
    width: 30%;
    height: 40px;
    left: 95px;
    position: relative;
    padding-top: 5%;
    cursor: pointer;
}
*/
.desc{
    border: solid black;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 80%;
    top: 20px;
}

.carrusel{
    background-color: #eeca88;
    width: 80%;
    margin: 0 auto;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.carrusel img.active {
    opacity: 1;
}

.carrusel button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}

.carrusel .anterior{
    margin-right: 20px;
    left: 20px;
}

.carrusel .siguiente{
    right: 10px;
}